hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #1762A7;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.fas.fa-bars{
  color: white;
}

a {
  color:inherit;
}

a:active, a:hover, a:visited{
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: white;
}



#sidebar ul img{
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-right:31px;
  box-sizing: content-box;
  vertical-align: -8%
}


#sidebar ul span{
  font-size: 18px;
  opacity: 0.7;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: #2F303A;
  color: white;
  font-size: 1.3em;
}

#sidebar.active {
  min-width: 8vw;
  max-width: 8vw;
  text-align: center;
}


.navbar-icon.fa-fw{
  padding-right:25px;
  text-align: center;
  box-sizing: content-box;
}

#sidebar.active ul li a i.navbar-icon.fa-fw{
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
  box-sizing: content-box;
  display: block;
}

#sidebar ul li a {
  padding: 8px 28px;
  text-align: start;
  display: inline-block;
  width: 100%;
}
#sidebar.active ul div.sidebar-sub{
display: none
}

#sidebar.active ul li a {
  padding: 24px 8px;
  text-align: center;
  font-size: 0.8em;
  text-overflow: ellipsis;
  overflow: hidden;
}