:root{
  --main-bg-color: #121212;
  --nav-color: #272727;
  --sidebar-color: #1c1c1c;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #1762a7;
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
  background-color: var(--main-bg-color);
  align-items: flex-start
}

.fas.fa-bars {
  color: white;
}

a {
  color: inherit;
}

a:active,
a:hover,
a:visited {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: white;
}

#sidebar ul img {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-right: 31px;
  box-sizing: content-box;
  vertical-align: -8%;
}

#sidebar ul span {
  font-size: 18px;
  opacity: 0.7;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: var(--sidebar-color);
  color: white;
  font-size: 1.3em;
  position: sticky;
  position: -webkit-sticky;
  top:64px;
}

.navbar.navbar-expand-sm {
  background-color: var(--nav-color);
  color: white;
  width: 100%;
}

.navbar-icon.fa-fw {
  padding-right: 25px;
  text-align: center;
  box-sizing: content-box;
}

#sidebar ul li a {
  padding: 8px 28px;
  text-align: start;
  display: inline-block;
  width: 100%;
}

#sidebar.active {
  min-width: 100px;
  max-width: 100px;
  text-align: center;
}

#sidebar.active ul li a i.navbar-icon.fa-fw {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
  box-sizing: content-box;
  display: block;
}

#sidebar.active ul div.sidebar-sub {
  display: none;
}

#sidebar.active ul li a {
  padding: 15px 4px;
  text-align: center;
  font-size: 0.8em;
  text-overflow: ellipsis;
  overflow: hidden;
}
#sidebar.active ul li:first-child a {
  padding-top: 30px;
}

div.container {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

img.channelAvatar {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin: 5px;
  margin-top: 20px;
  box-sizing: content-box;
  grid-area: avatar;
  justify-self: center;
  align-self: flex-start
}

div.img-container{
  position: relative;
  grid-area:image
}

img.img-item {
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

div.hover{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

i.fas.fa-play{
  font-size: 80px;
  color:rgba(255, 0, 0, 0.8)
}

div.img-container:hover .img-item {
  opacity: 0.3;
}

div.img-container:hover .hover {
  opacity: 1;
}

h5.card-title {
  grid-area: title;
  color: white;
  margin: 0;
  padding-top:15px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6rem;
  max-height: 4.2rem;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  white-space: normal
}

div.grid-desc {
  grid-area: desc;
  color: rgba(255,255,255,0.8);
  grid-template-columns: repeat(3, 1fr);
  white-space: nowrap;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
div.grid-desc span:nth-child(n + 2)::before {
  content: "•";
  margin: 0 4px;
}
div.grid-desc span{
  box-sizing: content-box;
  display: inline-block;
  vertical-align: text-bottom
}
div.grid-desc span:first-child{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 40%;
  display: inline-block;
  vertical-align: text-bottom
}
div.grid-desc a:hover span{
  color: white;
  opacity: 1;
}

div.video-container {
  background-color: var(--main-bg-color);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  grid-template-areas:
    "image image"
    "avatar title"
    "avatar desc";
}

div.grid-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-template-rows: auto;
  align-items: start;
  width: 100%;
  box-sizing: content-box;
  height: 100%;
  padding: 10px;
}


@media (max-width: 1120px) {
  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
  }

  #sidebar.active ul li a i.navbar-icon.fa-fw {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
    box-sizing: content-box;
    display: block;
  }

  #sidebar.active ul div.sidebar-sub {
    display: none;
  }

  #sidebar.active ul li a {
    padding: 24px 8px;
    text-align: center;
    font-size: 0.8em;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media (max-width: 576px) {
  div.container {
    max-width: 85%;
  }
}
